### Práctica de laboratorio: análisis de datos del contador de Internet

In [21]:
import datetime
import csv
import subprocess
import pandas as pd
import numpy as np

In [2]:
fecha_hora = datetime.datetime.now()
print(fecha_hora)

2020-07-22 08:29:49.731933

In [3]:
fecha_hora.strftime('%a, %d %b %Y %H:%M:%S')

'Wed, 22 Jul 2020 08:29:49'

In [4]:
speedtest_cmd = "speedtest-cli --simple"
# Execute the process
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
# Collect the command output
process_output = process.communicate()[0]

In [5]:
print(process_output, type(process_output))

b'Ping: 21.486 ms\r\nDownload: 21.52 Mbit/s\r\nUpload: 4.73 Mbit/s\r\n' <class 'bytes'>

In [6]:
fecha_hora = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
process_output = process_output.split()
process_output.append(fecha_hora)
print(process_output, type(process_output))

[b'Ping:', b'21.486', b'ms', b'Download:', b'21.52', b'Mbit/s', b'Upload:', b'4.73', b'Mbit/s', '2020-07-22 08:30:35'] <class 'list'>

In [7]:
def speedtest():
    # We need to store the time at which the speedtest was executed
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    # This is a string that contains what we would write on the command line 
    #to interface with speedtest.net
    speedtest_cmd = "speedtest-cli --simple"
    # We now execute the process: 
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    # and we add the date and time 
    process_output.append(date_time)
    return process_output

In [8]:
print(speedtest())

[b'Ping:', b'27.178', b'ms', b'Download:', b'22.24', b'Mbit/s', b'Upload:', b'4.20', b'Mbit/s', '2020-07-22 08:30:41']

In [9]:
# Code cell 11
with open("test.txt",'w') as f:
    f.write('test_msg')

In [10]:
# Code cell 13
with open("test.txt",'r') as f:
    str = f.read()
print(str)

test_msg

In [11]:
# Code cell 14
# Function to save data to csv
def save_to_csv(data, filename):
    try:
        # If the file exists, append a new line to it, with the 
        #results of the current experiment
        with open(filename + '.csv', 'a') as f:
            # Create a csv writer object 
            wr = csv.writer(f)
            # Save (write) to file
            wr.writerow(data)
    except:
        # If it does not exist, create the file first
        with open(filename + '.csv', 'w') as f:
            # Hint: This is similar to appending new lines to a file.
            # Create a csv writer object
            # ADD CODE HERE
            wr = csv.writer(f)
            # Save (write) to file
            # ADD CODE HERE
            wr.writerow(data)

In [19]:
# Code cell 15
def print_from_csv(filename): 
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in re:
            print (row)

In [18]:
for i in range(5):
    # Measure internet speed (speedtest_output) using the speedtest() created earlier
    speedtest_output = speedtest()
    # Print the test number
    print ('Test number {}'.format(i))
    # Print the result (The needed variable is speedtest_output)
    # ADD CODE HERE for printing the results
    print(speedtest_output)
    save_to_csv(speedtest_output, 'rpi_data_test')

Test number 0
[b'Ping:', b'21.02', b'ms', b'Download:', b'21.90', b'Mbit/s', b'Upload:', b'4.89', b'Mbit/s', '2020-07-22 08:43:14']
Test number 1
[b'Ping:', b'16.332', b'ms', b'Download:', b'21.74', b'Mbit/s', b'Upload:', b'4.94', b'Mbit/s', '2020-07-22 08:43:42']
Test number 2
[b'Ping:', b'25.52', b'ms', b'Download:', b'21.96', b'Mbit/s', b'Upload:', b'4.92', b'Mbit/s', '2020-07-22 08:44:09']
Test number 3
[b'Ping:', b'23.197', b'ms', b'Download:', b'22.18', b'Mbit/s', b'Upload:', b'4.96', b'Mbit/s', '2020-07-22 08:44:37']
Test number 4
[b'Ping:', b'21.833', b'ms', b'Download:', b'21.40', b'Mbit/s', b'Upload:', b'4.93', b'Mbit/s', '2020-07-22 08:45:04']

In [20]:
print_from_csv('rpi_data_test')

["b'Ping:'", "b'20.891'", "b'ms'", "b'Download:'", "b'22.31'", "b'Mbit/s'", "b'Upload:'", "b'4.63'", "b'Mbit/s'", '2020-07-22 08:36:19']
[]
["b'Ping:'", "b'25.562'", "b'ms'", "b'Download:'", "b'22.00'", "b'Mbit/s'", "b'Upload:'", "b'4.87'", "b'Mbit/s'", '2020-07-22 08:36:46']
[]
["b'Ping:'", "b'21.392'", "b'ms'", "b'Download:'", "b'21.29'", "b'Mbit/s'", "b'Upload:'", "b'4.75'", "b'Mbit/s'", '2020-07-22 08:37:13']
[]
["b'Ping:'", "b'19.296'", "b'ms'", "b'Download:'", "b'22.10'", "b'Mbit/s'", "b'Upload:'", "b'4.98'", "b'Mbit/s'", '2020-07-22 08:37:40']
[]
["b'Ping:'", "b'23.847'", "b'ms'", "b'Download:'", "b'21.94'", "b'Mbit/s'", "b'Upload:'", "b'4.92'", "b'Mbit/s'", '2020-07-22 08:38:07']
[]
["b'Ping:'", "b'19.509'", "b'ms'", "b'Download:'", "b'22.36'", "b'Mbit/s'", "b'Upload:'", "b'4.51'", "b'Mbit/s'", '2020-07-22 08:40:23']
[]
["b'Ping:'", "b'19.779'", "b'ms'", "b'Download:'", "b'21.74'", "b'Mbit/s'", "b'Upload:'", "b'4.73'", "b'Mbit/s'", '2020-07-22 08:41:18']
[]
["b'Ping:'", "b'21.02'", "b'ms'", "b'Download:'", "b'21.90'", "b'Mbit/s'", "b'Upload:'", "b'4.89'", "b'Mbit/s'", '2020-07-22 08:43:14']
[]
["b'Ping:'", "b'16.332'", "b'ms'", "b'Download:'", "b'21.74'", "b'Mbit/s'", "b'Upload:'", "b'4.94'", "b'Mbit/s'", '2020-07-22 08:43:42']
[]
["b'Ping:'", "b'25.52'", "b'ms'", "b'Download:'", "b'21.96'", "b'Mbit/s'", "b'Upload:'", "b'4.92'", "b'Mbit/s'", '2020-07-22 08:44:09']
[]
["b'Ping:'", "b'23.197'", "b'ms'", "b'Download:'", "b'22.18'", "b'Mbit/s'", "b'Upload:'", "b'4.96'", "b'Mbit/s'", '2020-07-22 08:44:37']
[]
["b'Ping:'", "b'21.833'", "b'ms'", "b'Download:'", "b'21.40'", "b'Mbit/s'", "b'Upload:'", "b'4.93'", "b'Mbit/s'", '2020-07-22 08:45:04']
[]

In [34]:
data_file = 'rpi_data_long.csv'

In [35]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

In [36]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [37]:
df_redundant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

In [38]:
df_compact = df_redundant.copy()

In [39]:
df_compact.rename(columns={'Measure A':'Ping (ms)', 
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

,Type A,Ping (ms),Units A,Type B,Download (Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25

In [40]:
df_compact.drop(['Type A', 'Type B', 'Type C',
         'Units A', 'Units B', 'Units C'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)             Datetime
0     26.992              91.80            14.31  2016-11-24 13:36:25
1     24.532              88.19            14.12  2016-11-24 13:36:55
2     20.225              59.86            14.11  2016-11-24 13:37:25
3     19.332              91.81            14.22  2016-11-24 13:37:57
4     22.494              92.05            14.08  2016-11-24 13:38:27

In [41]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [42]:
df_compact.head()

,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Datetime,Date
0,26.992,91.80,14.31,2016-11-24 13:36:25,2016-11-24
1,24.532,88.19,14.12,2016-11-24 13:36:55,2016-11-24
2,20.225,59.86,14.11,2016-11-24 13:37:25,2016-11-24
3,19.332,91.81,14.22,2016-11-24 13:37:57,2016-11-24
4,22.494,92.05,14.08,2016-11-24 13:38:27,2016-11-24

In [43]:
df_compact['Time'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).time())

In [44]:
df_compact.drop(['Datetime'], axis=1, inplace=True)

In [46]:
df_compact.head(3)

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0     26.992              91.80            14.31  2016-11-24  13:36:25
1     24.532              88.19            14.12  2016-11-24  13:36:55
2     20.225              59.86            14.11  2016-11-24  13:37:25

In [47]:
print(df_compact['Date'][0], type(df_compact['Date'][0]) )
print(df_compact['Time'][0], type(df_compact['Time'][0]) )

2016-11-24 <class 'datetime.date'>
13:36:25 <class 'datetime.time'>

In [48]:
df_compact.to_csv('rpi_data_compact.csv')